{% extends 'layout/app.html' %}
{% block title %} Gotrade {% endblock %}

{% block appContent %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary btn-lg notika-btn-primary waves-effect pull-right">Login</button>
            <button class="btn btn-primary btn-lg notika-btn-primary waves-effect pull-right mr-1">Start Engine</button>
        </div>
    </div>
</div>
<br>
<div class="container">

    <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter" id="getTotalPNLCount">0</span></h2>
                            <p>Total P&L</p>
                        </div>
                        <div class="sparkline-bar-stats1"><i class="fa fa-rupee fa-3x"></i></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter" id="getOrdersCount">0</span></h2>
                            <p>Total Orders</p>
                        </div>
                        <div class="sparkline-bar-stats1"><i class="fa fa-list-alt fa-3x"></i></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter" id="getPendingOrdersCount">0</span></h2>
                            <p>Pending Orders</p>
                        </div>
                        <div class="sparkline-bar-stats1"><i class="fa fa-list-alt fa-3x"></i></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter" id="getAllUsersCount">0</span></h2>
                            <p>Total Accounts</p>
                        </div>
                        <div class="sparkline-bar-stats1"><i class="fa fa-users fa-3x"></i></div>
                    </div>
                </div>
            </div>
</div>
{% endblock %}